<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <div id="left-cont">
  </div>
  <div id="mid-cont">
  <div id="menu">
      Menu
    </div>
  <div class="reminder-cont">

    <% @reminders.each do |reminder| %>
      <% time = reminder.strike.strftime("%H:%M")%>
      <%if reminder.complete == false%>

      <div class="reminder">
        <div class="name"> <p><%= time %></p></div>
        <div class="desc"><p><%= reminder.name %></p></div>


        <div class="delete">
          <%= form_with url: toggle_complete_path(reminder), method: :patch, local: true do |form| %>
              <%= form.hidden_field :complete, value: !reminder.complete %>
              <%= form.submit "", style: "width: 50%;" %>
            <% end %>
         <!-- <# link_to "x", reminder_path(reminder), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }  -->

        </div>
      </div>
      <%end%>
      <% end %>
  </div>
  </div>

  <div class="control">
    <div id="x-1">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-2">
      <i class="bi bi-gear" style="font-size: 5vh;"></i>
    </div>
    <div id="x-3">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-4">
    <i class="bi bi-pencil-square" style="font-size: 5.5vh;"></i>
    </div>
    <div id="x-5">
    <%= link_to new_reminder_path do %>
          <i class="bi bi-plus-square" style="font-size: 5vh;"></i></i>
        <% end %>
    </div>
    <div id="x-6">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-7">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-8">
    <%= link_to new_reminder_path do %>
          <i class="bi bi-plus-square" style="font-size: 5vh;"></i></i>
        <% end %>
    </div>
    <div id="x-9">
      <%= link_to edit_user_registration_path do %>
      <i class="bi bi-gear" style="font-size: 5vh;"></i>
      <% end %>
    </div>
  </div>
</div>
