<%= stylesheet_link_tag "index", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <div id="left-cont">
  </div>
  <div id="mid-cont">
  <div id="menu">
      Menu
    </div>
  <div class="reminder-cont">
      <div class="reminder">
        <%= form_with model: @reminder do |form| %>
        <div class="name"><%=form.text_field :strike%></div>
        <div class="desc"><%=form.text_field :name%></div>


        <div class="delete"><%=form.text_field :description%><%=form.submit%>


        </div>
        <%end%>
      </div>

  </div>
  </div>

  <div class="control">
    <div id="x-1">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-2">
      <i class="bi bi-gear" style="font-size: 5vh;"></i>
    </div>
    <div id="x-3">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-4">
    <i class="bi bi-pencil-square" style="font-size: 5.5vh;"></i>
    </div>
    <div id="x-5">
    <%= link_to new_reminder_path do %>
          <i class="bi bi-plus-square" style="font-size: 5vh;"></i></i>
        <% end %>
    </div>
    <div id="x-6">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-7">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-8">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-9">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
  </div>
</div>
