<%= stylesheet_link_tag "new_reminder", "data-turbo-track": "reload" %>
<div class="container-fluid">
  <div id="left-cont">
  </div>
  <div id="mid-cont">
  <div id="menu">
      Menu
    </div>
  <div class="reminder-cont">

      <div class="reminder">
        <div class="name"></div>
        <div class="desc"></div>
        <div class="delete"></div>
      </div>
      <div class="reminder">
        <%= form_with model: @reminder do |form| %>
        <div class="name"><%=form.text_field :strike, style: "width: 50%; display: none;"%></div>
        <div class="desc"><%=form.text_field :name, style: "width: 50%; display: none;"%></div>


        <div class="delete"><%=form.text_field :description, style: "width: 50%; display: none;" %><%=form.submit style: "display: none;" %>


        </div>
        <%end%>
      </div>
      <div class="reminder">
        <div class="name"></div>
        <div class="desc"></div>
        <div class="delete"></div>
      </div>
      <div class="reminder">
        <div class="name"></div>
        <div class="desc"></div>
        <div class="delete"></div>
      </div>
      <div class="interface-cont">
      <div class="interface">
        <div class="name"><i class="bi bi-7-square" style="font-size: 5vh;"></i></div>
        <div class="desc"><i class="bi bi-8-square" style="font-size: 5vh;"></i></div>
        <div class="delete"><i class="bi bi-9-square" style="font-size: 5vh;"></i></div>
      </div>
      <div class="interface">
        <div class="name"><i class="bi bi-4-square" style="font-size: 5vh;"></i></div>
        <div class="desc"><i class="bi bi-5-square" style="font-size: 5vh;"></i></div>
        <div class="delete"><i class="bi bi-6-square" style="font-size: 5vh;"></i></div>
      </div>
      <div class="interface">
        <div class="name"><i class="bi bi-1-square" style="font-size: 5vh;"></i></div>
        <div class="desc"><i class="bi bi-2-square" style="font-size: 5vh;"></i></div>
        <div class="delete"><i class="bi bi-3-square" style="font-size: 5vh;"></i></div>
      </div>
      <div class="interface">
        <div class="name"></div>
        <div class="desc"><i class="bi bi-0-square" style="font-size: 5vh;"></i></div>
        <div class="delete"></div>
      </div>
    </div>




  </div>
  </div>

  <div class="control">
    <div id="x-1">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-2">
      <i class="bi bi-gear" style="font-size: 5vh;"></i>
    </div>
    <div id="x-3">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-4">
    <i class="bi bi-pencil-square" style="font-size: 5.5vh;"></i>
    </div>
    <div id="x-5">
    <%= link_to new_reminder_path do %>
          <i class="bi bi-plus-square" style="font-size: 5vh;"></i></i>
        <% end %>
    </div>
    <div id="x-6">
    <i class="bi bi-clock-fill" style="font-size: 5vh;"></i>
    </div>
    <div id="x-7">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-8">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
    <div id="x-9">
    <i class="bi bi-app" style="font-size: 5vh;"></i>
    </div>
  </div>
</div>
